.carousel {
  margin: 3em 0;
  width: 100%;
  overflow: hidden;
  &__content {
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.8s;
  }
  &__img {
      display: block;
      width: 100%;
  }
  &__btnsContainer {
    margin: 0 auto;
    text-align: center;
  }
}
